@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
   &:hover {
    color: white;
    text-decoration: none;
  }
}

#account {
  float: left;
  margin-right: 10px;
  font-size: 1em;
  color: white;
  padding-top: 15px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {

}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

h3 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.full-width {
  width: 100%;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
  
.navbar-color {
  background-color: #F95346;
}

.desc {
  color: #FFFFFF;
}

.description {
  margin-bottom: 100 100 100 100;
}
